.table-container {
    margin: 150px 150px 150px 360px;
}
    
.table-details {
    width: 60%;
    border: 1px solid black;
}

.table-details td,.table-details th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .table-details tr:nth-child(even){background-color: #f2f2f2;}

.table-details tr:hover {background-color: #ddd;}
.table-details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background:linear-gradient(#e66465, #9198e5);
    color: black;
}