.dropfilter-container {
    text-align: center;
    margin: 30px;
}
.table-list {
    text-align: center;
    position: relative;
    left: 390px;
    top: 20px;
    border: 1px solid black;
    width: 40%;
}
.table-list td,.table-list th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table-list tr:nth-child(even){background-color: #f2f2f2;}

  .table-list tr:hover {background-color: #ddd;}
  .table-list th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background:lightcoral;
      color: black;
  }